# Copyright (c) 2009-2012, 2014-2020, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

# copy prebuilt camera firmware dump
on post-fs-data
    copy /vendor/etc/camera/prebuilt/aecWarmStartCamera_0 /data/vendor/camera/aecWarmStartCamera_0
    copy /vendor/etc/camera/prebuilt/aecWarmStartCamera_1 /data/vendor/camera/aecWarmStartCamera_1
    copy /vendor/etc/camera/prebuilt/af_calibration_imx586_gt24c64_sunny.bin /data/vendor/camera/af_calibration_imx586_gt24c64_sunny.bin
    copy /vendor/etc/camera/prebuilt/awbWarmStartCamera_0 /data/vendor/camera/awbWarmStartCamera_0
    copy /vendor/etc/camera/prebuilt/awbWarmStartCamera_1 /data/vendor/camera/awbWarmStartCamera_1
    copy /vendor/etc/camera/prebuilt/mapx.bin /data/vendor/camera/mapx.bin
    copy /vendor/etc/camera/prebuilt/mapy.bin /data/vendor/camera/mapy.bin
    copy /vendor/etc/camera/prebuilt/pdaf2D_calibration_imx586_gt24c64_sunny.bin /data/vendor/camera/pdaf2D_calibration_imx586_gt24c64_sunny.bin
    copy /vendor/etc/camera/prebuilt/pdafdcc_calibration_imx586_gt24c64_sunny.bin /data/vendor/camera/pdafdcc_calibration_imx586_gt24c64_sunny.bin
    copy /vendor/etc/camera/prebuilt/sony_imx471_cross_talk.bin /data/vendor/camera/sony_imx471_cross_talk.bin
    copy /vendor/etc/camera/prebuilt/sony_imx471_dpc_tbl.bin /data/vendor/camera/sony_imx471_dpc_tbl.bin
    copy /vendor/etc/camera/prebuilt/spc_calibration_imx586_gt24c64_sunny.bin /data/vendor/camera/spc_calibration_imx586_gt24c64_sunny.bin
